.Menu {
    float: left;
}
.divMain {
    width: 180px;
    height: 80vh;
    background-color: limegreen;
    margin-top: 10px;
}
.goldenrod {
    color: white;
}

.margin {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}

.friends {
    color: #efefef;
    font-size: 34px;
}

.top {
    text-align: center;
    padding-top: 100px;
}

.left {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 5px;
}

a {
    color: #eee3e3;
    text-decoration: none;
}