.Post {
    height: 30px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 30px;
}

.imgLike {
    width: 15px;
    height: 15px;
}

.spanLike {
    position: relative;
    top: -2.5px;
}

.buttonLike {
    border: none;
    background-color: white;
    outline: none;
}

.logo {
    width: 30px;
    height: 30px;
}

.span {
    position: relative;
    top: -35px;
    font-size: 15px;
}