.Menu {
    float: left;
}
.divMain {
    width: 180px;
    height: 80vh;
    background-color: limegreen;
    margin-top: 10px;
}
.divMain div {
    font-size: 20px;
    color: #efefef;
    margin-left: 20px;
    margin-top: 5px;
}
.margin {
    margin-top: 30px;
}