.MessageMainDiv {
    margin-left: 15px;
    margin-top: 10px;
    width: 705px;
}

.friends {
    width: 250px;
    float: left;
    padding-top: 20px;
}

.messages {
    width: 350px;
    float: left;
    padding-left: 75px;
    border-left: 2.5px solid #aaaaaa;
}

.span {
    font-size: 20px;
    color: grey;
    margin-left: 3px;
}

.first {
    margin-top: -10px;
}