.MessageMainDiv {
    margin-left: 15px;
    margin-top: 10px;
    width: 705px;
}

.friends {
    width: 250px;
    float: left;
    padding-top: 20px;
}

.messages {
    width: 350px;
    float: left;
    padding-left: 75px;
    border-left: 2.5px solid #aaaaaa;
}

.span {
    font-size: 20px;
    color: grey;
    margin-left: 3px;
}

.first {
    margin-top: -10px;
}

.inputDiv {
    width: 300px;
    height: 100px;
}

.input {
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color: #efefef;
    outline: none;
    border: none;
    margin-top: 60px;
    margin-left: 20px;
}

.send {
    width: 70px;
    height: 28px;
    background-color: limegreen;
    outline: none;
    border: 1px solid #aaaaaa;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 200px;
}