.MessageMainDiv {
    margin-left: 15px;
    margin-top: 10px;
    width: 705px;
}

.friends {
    width: 250px;
    float: left;
    padding-top: 20px;
}

.messages {
    width: 350px;
    float: left;
    padding-left: 75px;
    border-left: 2.5px solid #aaaaaa;
}

.span {
    font-size: 20px;
    color: grey;
    margin-left: 3px;
}

.dialog {
    width: 250px;
    font-size: 16px;
    height: 50px;
    color: grey;
}

.size {
    font-size: 20px;
}

.userMessageLeft {
    width: 300px;
}

.first {
    margin-top: -10px;
}

.avotarky {
    width: 40px;
    height: 40px;
    margin-top: 30px;
}

.spanBort {
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #e4dfdf;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}

.img {
    float: left;
}